{% extends 'movie_template.html' %}


{% block title %}
Ep 6 - {{title}}
{% endblock %}

{% block film_title %}
{{title}}
{% endblock %}

{% block poster %}
{% load static %}
<img src="{% static "images/ep6.jpg" %}">
{% endblock %}

{% block director %}
{{director}}
{% endblock %}

{% block producer %}
{{producer}}
{% endblock %}

{% block release %}
{{release}}
{% endblock %}

{% block crawl %}
{{crawl}}
{% endblock %}

{% block info %}
<a href={% url 'ep6_info' %}> CLICK HERE FOR MORE INFO </a><br/>
{% endblock %}
