{% extends 'movie_template.html' %}


{% block title %}
Ep 1 - {{title}}
{% endblock %}

{% block film_title %}
{{title}}
{% endblock %}

{% block poster %}
{% load static %}
<img src="{% static "images/ep1.jpg" %}">
{% endblock %}

{% block director %}
{{director}}
{% endblock %}

{% block producer %}
{{producer}}
{% endblock %}

{% block release %}
{{release}}
{% endblock %}

{% block crawl %}
{{crawl}}
{% endblock %}

{% block info %}
<a href={% url 'ep1_info' %}> CLICK HERE FOR MORE INFO >>></a><br/>
{% endblock %}
