{% extends 'movie_template.html' %}


{% block title %}
Ep 3 - Revenge Of The Sith
{% endblock %}

{% block film_title %}
FILM TITLE HERE
{% endblock %}

{% block poster %}
{% load static %}
<img src="{% static "images/ep3.jpg" %}">
{% endblock %}

{% block director %}
DIRECTOR HERE
{% endblock %}

{% block producer %}
PRODUCER HERE
{% endblock %}

{% block release %}
RELEASE DATE HERE
{% endblock %}

{% block crawl %}
OPENING CRAWL HERE
{% endblock %}

{% block info %}
<a href={% url 'ep1_info' %}> CLICK HERE FOR MORE INFO </a><br/>
{% endblock %}
