{% extends 'info_template.html' %}

{% block title %}
EP 6 - {{title}}
{% endblock %}

{% block film_title %}
{{title}}
{% endblock %}

{% block poster %}
{% load static %}
<img src="{% static "images/ep6.jpg" %}">
{% endblock %}

{% block characters %}
  {% for character in characters %}
    {{character}},
  {% endfor %}
{% endblock %}

{% block planets %}
  {% for planet in planets %}
    {{planet}},
  {% endfor %}
{% endblock %}

{% block species %}
  {% for specie in species %}
    {{specie}},
  {% endfor %}
{% endblock %}

{% block spaceships %}
  {% for spaceship in spaceships %}
    {{spaceship}},
  {% endfor %}
{% endblock %}

{% block vehicles %}
  {% for vehicle in vehicles %}
    {{vehicle}},
  {% endfor %}
{% endblock %}
