<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SWAPI Web App - {% block title %}{% endblock %} - Info Page</title>
  </head>
  <body>
    <table style="width:100%", border="1">
      <tr><td colspan="2"> {% block film_title %}{% endblock %} </td></tr>
      <tr><td colspan="2"> {% block poster %}{% endblock %} </td></tr>
      <tr><td>Characters</td><td> {% block characters %}{% endblock %} </td><tr>
      <tr><td>Planets</td><td> {% block planets %}{% endblock %} </td><tr>
      <tr><td>Species</td><td> {% block species %}{% endblock %} </td><tr>
      <tr><td>Starships</td><td> {% block spaceships %}{% endblock %} </td><tr>
      <tr><td>Vehicles</td><td> {% block vehicles %}{% endblock %} </td><tr>
      <tr><td colspan="2"> {% block info %}{% endblock %} <a href={% url 'home' %}> BACK TO HOME PAGE </a></td></tr>
    </table>
  </body>
</html>
