<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SWAPI Web App - Movie title</title>
  </head>
  <body>
    <table style="width:100%", border="1">
      <tr><td colspan="2">Movie Name</td></tr>
      <tr><td colspan="2">Movie Poster</td></tr>
      <tr><td>Field</td><td>data</td><tr>
      <tr><td>Field</td><td>data</td><tr>
      <tr><td>Field</td><td>data</td><tr>
      <tr><td>Field</td><td>data</td><tr>
      <tr><td>Field</td><td>data</td><tr>
      <tr><td>Field</td><td>data</td><tr>
    </table>
  </body>
</html>
