<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SWAPPI Web App - {% block title %}{% endblock %}</title>
  </head>
  <body bgcolor="yellow">
    <table style="width:100%", border="0">
      <tr><td colspan="4" align="center"><h3> {% block film_title %}{% endblock %} </h3></td></tr>
      <tr><td colspan="2" align="center" rowspan="8"> {% block poster %}{% endblock %} </td></tr>
      <tr><td width="120" height="30" align="center"><b>Director</b></td><td> {% block director %}{% endblock %} </td><tr>
      <tr><td width="120" height="30" align="center"><b>Producer</b></td><td> {% block producer %}{% endblock %} </td><tr>
      <tr><td width="120" height="30" align="center"><b>Release Date</b></td><td> {% block release %}{% endblock %} </td><tr>
      <tr><td width="120" height="30" align="center"><b>Opening Crawl</b></td><td> {% block crawl %}{% endblock %} </td><tr>
      <tr><td colspan="4" align="center"> {% block info %}{% endblock %} <a href={% url 'home' %}> <<< BACK TO HOME PAGE </a></td></tr>
    </table>
  </body>
</html>
